<p id="notice"><%= notice %></p>

<h1>Admin Cars</h1>

<table>
  <thead>
    <tr>
      <th>Manufactuture</th>
      <th>Model</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_cars.each do |admin_car| %>
      <tr>
        <td><%= admin_car.manufactuture %></td>
        <td><%= admin_car.model %></td>
        <td><%= admin_car.year %></td>
        <td><%= link_to 'Show', admin_car %></td>
        <td><%= link_to 'Edit', edit_admin_car_path(admin_car) %></td>
        <td><%= link_to 'Destroy', admin_car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Car', new_admin_car_path %>
